/* CalendarStyles.css */

.weekly-calendar {
  display: flex;
  justify-content: space-between;
}

.day-column {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: #ffffff;
}

.highlight-today {
  background-color: #f7cbe6; /* Light pink highlight for current day */
}

/* New date container styles */
.date-container {
  border-bottom: 2px solid #2e2e2e; /* Bottom border for date section */
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.day-header {
  font-weight: bold;
  font-size: 0.85rem; /* Slightly smaller font */
  color: #333333;
}

.day-date {
  font-size: 0.85rem;
  color: #333333;
}

.workout-item {
  margin-top: 10px;
}

.section {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.section-header {
  background-color: #a160e5;
  color: white;
  font-weight: bold;
  padding: 6px; /* Slightly smaller padding */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  font-size: 0.8rem; /* Smaller font size for the header */
}

.section-content {
  padding: 8px; /* Reduced padding */
  text-align: left;
  font-size: 0.75rem; /* Slightly smaller font size */
  color: #333333;
}
