@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');


/* Set Sora as the default font for the entire site */
html, body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6; /* Optional for better readability */
  -webkit-font-smoothing: antialiased; /* Optional for smoother text rendering */
}

/* Add Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

/* Custom Poppins class */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Optional tweaks for typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Use a bold weight for headings */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* globals.css or a relevant CSS file */
.my-small-button {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}




/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Modal Container */
.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  background-color: white;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: translateX(100%);
}